button
	vertical-align middle
	_transition(opacity 0.2s ease 0s)
	&:focus
		outline none
	&:hover
		cursor pointer
		opacity 0.8
	&:active
		opacity 1
	&[disabled]
		pointer-events none
		background-color $gray
		border-color $gray
		color #FFF
		
.btn
	border-width 2px
	border-style solid
	background-color #FFF
	border-color $gray
	color $dark
		
	&_primary
		background-color $blue
		border-color $blue
	&_info
		background-color $sky
		border-color $sky
	&_inverse
		background-color $dark
		border-color $dark
	&_success
		background-color $green
		border-color $green
	&_warning
		background-color $yellow
		border-color $yellow
	&_dange
		background-color $red
		border-color $red
	&_primary, &_info, &_inverse, &_success, &_warning, &_dange
		color #FFF
		
	&_huge
		font-size $font-size-2
		line-height $line-height-2
		padding 19px 47px
		height 84px
	&_large
		font-size $font-size-3
		line-height $line-height-3
		padding 17px 43px
		height 66px
	&_regular
		font-size $font-size-4
		line-height $line-height-4
		padding 12px 27px
		height 50px
	&_small
		font-size $font-size-5
		line-height $line-height-5
		padding 9px 12px
		height 40px
	&_xsmall
		font-size $font-size-6
		line-height $line-height-6
		padding 6px 13px
		height 30px
		
	&_imgleft, &_imgright
		vertical-align bottom
	&_imgleft:before
		margin-right 15px
		content "\e61a"
	&_imgright:after
		margin-left 15px
		content "\e609"
	&_imgleft:before, &_imgright:after
		font-family 'icomoon'
		font-size 1.1em
		vertical-align middle
		speak none
		font-style normal
		font-weight normal
		font-variant normal
		text-transform none
		line-height 1
		-webkit-font-smoothing antialiased
		-moz-osx-font-smoothing grayscale