<!-- Buttons Options -->
<button type="button" class="btn btn_regular">Default Button</button>
<button type="button" class="btn btn_regular" disabled="disabled">Disable Button</button>
<button type="button" class="btn btn_regular btn_primary">Primary Button</button>
<button type="button" class="btn btn_regular btn_info">Info Button</button>
<button type="button" class="btn btn_regular btn_inverse">Inverse Button</button>
<button type="button" class="btn btn_regular btn_success">Success Button</button>
<button type="button" class="btn btn_regular btn_warning">Warning Button</button>
<button type="button" class="btn btn_regular btn_dange">Dange Button</button>
<!-- Buttons Sizes -->
<button type="button" class="btn btn_huge btn_info">Huge Button</button>
<button type="button" class="btn btn_large btn_info">Large Button</button>
<button type="button" class="btn btn_regular btn_info">Regular Button</button>
<button type="button" class="btn btn_small btn_info">Small Button</button>
<button type="button" class="btn btn_xsmall btn_info">Very Small Button</button>
<!-- Buttons Variants -->
<button type="button" class="btn btn_regular btn_warning">Drop Button</button>
<button type="button" class="btn btn_regular btn_success btn_imgleft">Drop Button</button>
<button type="button" class="btn btn_regular btn_primary btn_imgright">Select Button</button>
<button type="button" class="btn btn_regular btn_info btn_imgright">Drop Button</button>