.input
	display block
	width 100%
	height 40px
	padding 9px 12px
	font-size $font-size-5
	border 2px solid $gray
	background-image none
	color $blue
	_transition(box-shadow 0.3s ease-out 0s)
	&:focus
		border 2px solid $sky
		-webkit-box-shadow 0 0 2px $sky
		box-shadow 0 0 2px $sky
	&-group
		position relative
		display inline-block
		width 100%
		span
			display block
			position absolute
			top 50%
			right 15px
			margin-top -9px
		input::-webkit-input-placeholder
			color $blue
		input::-moz-placeholder
			color $blue
	&_success
		.input
			color $green
			border 2px solid $green
			&:focus
				border 2px solid $green
				-webkit-box-shadow 0 0 2px $green
				box-shadow 0 0 2px $green
		input::-webkit-input-placeholder
			color $green
		input::-moz-placeholder
			color $green
	&_error
		.input
			color $red
			border 2px solid $red
			&:focus
				border 2px solid $red
				-webkit-box-shadow 0 0 2px $red
				box-shadow 0 0 2px $red
		input::-webkit-input-placeholder
			color $red
		input::-moz-placeholder
			color $red
	&_disabled
		.input
			background #FFF
			color $gray
		input::-webkit-input-placeholder
			color $gray
		input::-moz-placeholder
			color $gray