@import 'general/normalize_2.0';
@import 'layout/main_layout';
@import 'states/states';

*, *:before, *:after
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box
input:focus
	outline none
	-webkit-box-shadow none
	box-shadow none
body
	font-family "Helvetica Neue", Helvetica, Arial, sans-serif
	color $dark