/* Main Colors variables*/
$blue = #12679B
$sky = #259CD7
$red = #F1665D
$yellow = #FC9C1C
$green = #25B344
$dark = #3E3E3E
$gray = #D4D4D4

/* Typography variables*/
$font-size-bh = 50px
$font-size-1 = 40px
$font-size-2 = 32px
$font-size-3 = 24px
$font-size-4 = 18px
$font-size-5 = 16px
$font-size-6 = 12px
$font-size-p = 16px
$line-height-bh = 60px
$line-height-1 = 44px
$line-height-2 = 36px
$line-height-3 = 28px
$line-height-4 = 20px
$line-height-5 = 18px
$line-height-6 = 14px
$line-height-p = 24px

/* Buttons Sizes variables */
$btn-huge-w = 280px
$btn-huge-h = 84px
$btn-large-w = 230px
$btn-large-h = 66px
$btn-regular-w = 180px
$btn-regular-h = 50px
$btn-small-w = 120px
$btn-small-h = 40px
$btn-xsmall-w = 129px
$btn-xsmall-h = 30px