/* main colors styles*/
.bg-blue
	background-color $blue
.bg-sky
	background-color $sky
.bg-red
	background-color $red
.bg-yellow
	background-color $yellow
.bg-green
	background-color $green
.bg-dark
	background-color $dark
.bg-gray
	background-color $gray

.blue
	color $blue
.sky
	color $sky
.red
	color $red
.yellow
	color $yellow
.green
	color $green
.dark
	color $dark
.gray
	color $gray