<!--Radio Buttons-->
<label class="radio"><input type="radio" name="options_radio" value="option1" checked><span></span>Radio is on</label>
<label class="radio"><input type="radio" name="options_radio" value="option2"><span></span>Radio is off</label>
<label class="radio"><input type="radio" name="options_radio" value="option3" disabled="disabled"><span></span>Radio is disabled</label>

<!--Checkboxes-->
<label class="checkbox"><input type="checkbox" name="check" value="value1" checked><span></span>Checkbox is on</label>
<label class="checkbox"><input type="checkbox" name="check" value="value2"><span></span>Checkbox is off</label>
<label class="checkbox"><input type="checkbox" name="check" value="value3" disabled="disabled"><span></span>Checkbox is disabled</label>