<!--Social Icons-->
<div class="soc-icon soc-icon_dribbble"></div>
<div class="soc-icon soc-icon_behance"></div>
<div class="soc-icon soc-icon_twitter"></div>
<div class="soc-icon soc-icon_linkedin"></div>
<div class="soc-icon soc-icon_instagram"></div>
<div class="soc-icon soc-icon_facebook"></div>

<!--Additional Icons-->
<div class="icon icon_android"></div>
<div class="icon icon_apple"></div>
<div class="icon icon_blogger"></div>
<div class="icon icon_chrome"></div>
<div class="icon icon_css3"></div>
<div class="icon icon_delicious"></div>
<div class="icon icon_dropbox"></div>
<div class="icon icon_flickr"></div>
<div class="icon icon_forrst"></div>
<div class="icon icon_google-plus"></div>
<div class="icon icon_html5"></div>
<div class="icon icon_ie"></div>
<div class="icon icon_instagram"></div>
<div class="icon icon_jquery"></div>
<div class="icon icon_lastfm"></div>
<div class="icon icon_mail"></div>
<div class="icon icon_neil-orange-peel"></div>
<div class="icon icon_picasa"></div>
<div class="icon icon_pinterest"></div>
<div class="icon icon_reddit"></div>
<div class="icon icon_rss"></div>
<div class="icon icon_safari"></div>
<div class="icon icon_skype"></div>
<div class="icon icon_soundcloud"></div>
<div class="icon icon_treehouse"></div>
<div class="icon icon_tumblr"></div>
<div class="icon icon_vimeo"></div>
<div class="icon icon_windows"></div>
<div class="icon icon_wordpress"></div>
<div class="icon icon_yahoo"></div>
<div class="icon icon_youtube"></div>

<!--Other Icons-->
<div class="select-icon-right-white"></div>
<div class="blue-arrow-icon"></div>
<div class="gray-arrow-icon"></div>
<div class="list-icon"></div>
<div class="cross-icon"></div>
<div class="information-icon"></div>
<div class="location-icon"></div>
<div class="bookmark-icon"></div>
<div class="calendar-act-icon"></div>
<div class="calendar-inact-icon"></div>
<div class="error-icon"></div>
<div class="success-icon"></div>
<div class="chevron-left-icon"></div>
<div class="chevron-right-icon"></div>
<div class="play-icon"></div>
<div class="refresh-icon"></div>
<div class="search-icon"></div>
<div class="settings-icon"></div>
<div class="star-icon"></div>
<div class="tag-icon"></div>
<div class="tick-icon"></div>
<div class="white-tw-icon"></div>
<!--Font Icons IcoMoon-->
<div class="font-icon-twitter"></div>
<div class="font-icon-paragraph-justify"></div>
<div class="font-icon-checkbox-checked"></div>
<div class="font-icon-loop"></div>
<div class="font-icon-play"></div>
<div class="font-icon-checkmark-circle"></div>
<div class="font-icon-cancel-circle"></div>
<div class="font-icon-star"></div>
<div class="font-icon-bookmark"></div>
<div class="font-icon-cog"></div>
<div class="font-icon-search"></div>
<div class="font-icon-user"></div>
<div class="font-icon-calendar"></div>
<div class="font-icon-location"></div>
<div class="font-icon-tag"></div>
<div class="font-icon-angle-down"></div>
<div class="font-icon-angle-up"></div>
<div class="font-icon-angle-right"></div>
<div class="font-icon-angle-left"></div>
<div class="font-icon-uniE607"></div>
<div class="font-icon-arrow-up2"></div>
<div class="font-icon-arrow-down2"></div>
<div class="font-icon-arrow-left2"></div>
<div class="font-icon-arrow-right"></div>
<div class="font-icon-arrow-up"></div>
<div class="font-icon-arrow-down"></div>
<div class="font-icon-arrow-left"></div>