/* Small Icons */
.soc-icon
	width 77px
	height 77px
	background-repeat no-repeat
	&_dribbble
		background-image url(../img/dribbble.png)
		&:hover
			background-image url(../img/'dribbble _hover.png')
	&_behance
		background-image url(../img/Behance.png)
		&:hover
			background-image url(../img/'Behance _hover.png')
	&_twitter
		background-image url(../img/twitter.png)
		&:hover
			background-image url(../img/'twitter _hover.png')
	&_linkedin
		background-image url(../img/linkedin.png)
		&:hover
			background-image url(../img/'linkedin _hover.png')
	&_instagram
		background-image url(../img/instagram.png)
		&:hover
			background-image url(../img/'instagram _hover.png')
	&_facebook
		background-image url(../img/facebook.png)
		&:hover
			background-image url(../img/'facebook _hover.png')

/* Small Additional Icons */
.icon
	width 50px
	height 50px
	background-repeat no-repeat
	&_instagram
		background-image url(../img/Intsagram.png)
	&_android
		background-image url(../img/Android.png)
	&_apple
		background-image url(../img/Apple.png)
	&_blogger
		background-image url(../img/Blogger.png)
	&_chrome
		background-image url(../img/Chrome.png)
	&_css3
		background-image url(../img/CSS3.png)
	&_delicious
		background-image url(../img/Delicious.png)
	&_dropbox
		background-image url(../img/Dropbox.png)
	&_flickr
		background-image url(../img/Flickr.png)
	&_forrst
		background-image url(../img/Forrst.png)
	&_google-plus
		background-image url(../img/'Google +.png')
	&_html5
		background-image url(../img/HTML5.png)
	&_ie
		background-image url(../img/IE.png)
	&_jquery
		background-image url(../img/jQuery.png)
	&_lastfm
		background-image url(../img/LastFM.png)
	&_mail
		background-image url(../img/Mail.png)
	&_neil-orange-peel
		background-image url(../img/'Neil Orange Peel'.png)
	&_picasa
		background-image url(../img/Picasa.png)
	&_pinterest
		background-image url(../img/Pinterest.png)
	&_reddit
		background-image url(../img/Reddit.png)
	&_rss
		background-image url(../img/RSS.png)
	&_safari
		background-image url(../img/Safari.png)
	&_skype
		background-image url(../img/Skype.png)
	&_soundcloud
		background-image url(../img/SoundCloud.png)
	&_treehouse
		background-image url(../img/Treehouse.png)
	&_tumblr
		background-image url(../img/Tumblr.png)
	&_vimeo
		background-image url(../img/Vimeo.png)
	&_windows
		background-image url(../img/Windows.png)
	&_wordpress
		background-image url(../img/WordPress.png)
	&_yahoo
		background-image url(../img/Yahoo!.png)
	&_youtube
		background-image url(../img/YouTube.png)

/* Other Icons */
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?i4epfg');
	src:url('../fonts/icomoon/icomoon.eot?#iefixi4epfg') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff?i4epfg') format('woff'),
		url('../fonts/icomoon/icomoon.ttf?i4epfg') format('truetype'),
		url('../fonts/icomoon/icomoon.svg?i4epfg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="font-icon-"], [class*=" font-icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.font-icon-arrow-left:before {
	content: "\e600";
}
.font-icon-arrow-down:before {
	content: "\e601";
}
.font-icon-arrow-up:before {
	content: "\e602";
}
.font-icon-arrow-right:before {
	content: "\e603";
}
.font-icon-arrow-left2:before {
	content: "\e604";
}
.font-icon-arrow-down2:before {
	content: "\e605";
}
.font-icon-arrow-up2:before {
	content: "\e606";
}
.font-icon-uniE607:before {
	content: "\e607";
}
.font-icon-angle-left:before {
	content: "\e608";
}
.font-icon-angle-right:before {
	content: "\e609";
}
.font-icon-angle-up:before {
	content: "\e60a";
}
.font-icon-angle-down:before {
	content: "\e60b";
}
.font-icon-tag:before {
	content: "\e60c";
}
.font-icon-location:before {
	content: "\e60d";
}
.font-icon-calendar:before {
	content: "\e60e";
}
.font-icon-user:before {
	content: "\e60f";
}
.font-icon-search:before {
	content: "\e610";
}
.font-icon-cog:before {
	content: "\e611";
}
.font-icon-bookmark:before {
	content: "\e612";
}
.font-icon-star:before {
	content: "\e613";
}
.font-icon-cancel-circle:before {
	content: "\e614";
}
.font-icon-checkmark-circle:before {
	content: "\e615";
}
.font-icon-play:before {
	content: "\e616";
}
.font-icon-loop:before {
	content: "\e617";
}
.font-icon-checkbox-checked:before {
	content: "\e618";
}
.font-icon-paragraph-justify:before {
	content: "\e619";
}
.font-icon-twitter:before {
	content: "\e61a";
}

.blue-arrow-icon
	width 10px
	height 5px
	background url(../img/'Blue Arrow.png') no-repeat
.gray-arrow-icon
	width 10px
	height 5px
	background url(../img/'Gray Arrow.png') no-repeat
.list-icon
	width 21px
	height 17px
	background url(../img/List.png) no-repeat
.cross-icon
	width 25px
	height 25px
	background url(../img/Cross.png) no-repeat
.information-icon
	width 25px
	height 25px
	background url(../img/Information.png) no-repeat
.location-icon
	width 17px
	height 25px
	background url(../img/Location.png) no-repeat
.bookmark-icon
	width 17px
	height 25px
	background url(../img/Bookmark.png) no-repeat
.calendar-act-icon
	width 16px
	height 18px
	background url(../img/'Calendar Icon Active.png') no-repeat
.calendar-inact-icon
	width 16px
	height 18px
	background url(../img/'Calendar Icon No Active.png') no-repeat
.error-icon
	width 18px
	height 18px
	background url(../img/'Error Icon.png') no-repeat
.success-icon
	width 18px
	height 18px
	background url(../img/'Success Icon.png') no-repeat
.chevron-left-icon
	width 12px
	height 21px
	background url(../img/'Left Chevron.png') no-repeat
.chevron-right-icon
	width 12px
	height 21px
	background url(../img/'Right Chevron.png') no-repeat
.play-icon
	width 16px
	height 20px
	background url(../img/Play.png) no-repeat
.refresh-icon
	width 21px
	height 21px
	background url(../img/Refresh.png) no-repeat
.search-icon
	width 16px
	height 16px
	background url(../img/'Search Icon.png') no-repeat
.settings-icon
	width 25px
	height 25px
	background url(../img/'Settings Cog.png') no-repeat
.star-icon
	width 29px
	height 27px
	background url(../img/Star.png) no-repeat
.tag-icon
	width 25px
	height 25px
	background url(../img/Tag.png) no-repeat
.tick-icon
	width 23px
	height 25px
	background url(../img/Tick.png) no-repeat
.white-tw-icon
	width 26px
	height 21px
	background url(../img/'White Tw.png') no-repeat

/* Retina Displays Graphics Optimization */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)
	.soc-icon
		background-repeat no-repeat
		background-size 77px 77px
		&_dribbble
			background-image url(../img/dribbble@2x.png)
			&:hover
				background-image url(../img/'dribbble _hover@2x.png')
		&_behance
			background-image url(../img/Behance@2x.png)
			&:hover
				background-image url(../img/'Behance _hover@2x.png')
		&_twitter
			background-image url(../img/twitter@2x.png)
			&:hover
				background-image url(../img/'twitter _hover@2x.png')
		&_linkedin
			background-image url(../img/linkedin@2x.png)
			&:hover
				background-image url(../img/'linkedin _hover@2x.png')
		&_instagram
			background-image url(../img/instagram@2x.png)
			&:hover
				background-image url(../img/'instagram _hover@2x.png')
		&_facebook
			background-image url(../img/facebook@2x.png)
			&:hover
				background-image url(../img/'facebook _hover@2x.png')
	.icon
		background-repeat no-repeat
		background-size 50px 50px
		&_instagram
			background-image url(../img/Intsagram@2x.png)
		&_android
			background-image url(../img/Android@2x.png)
		&_apple
			background-image url(../img/Apple@2x.png)
		&_blogger
			background-image url(../img/Blogger@2x.png)
		&_chrome
			background-image url(../img/Chrome@2x.png)
		&_css3
			background-image url(../img/CSS3@2x.png)
		&_delicious
			background-image url(../img/Delicious@2x.png)
		&_dropbox
			background-image url(../img/Dropbox@2x.png)
		&_flickr
			background-image url(../img/Flickr@2x.png)
		&_forrst
			background-image url(../img/Forrst@2x.png)
		&_google-plus
			background-image url(../img/'Google +@2x.png')
		&_html5
			background-image url(../img/HTML5@2x.png)
		&_ie
			background-image url(../img/IE@2x.png)
		&_jquery
			background-image url(../img/jQuery@2x.png)
		&_lastfm
			background-image url(../img/LastFM@2x.png)
		&_mail
			background-image url(../img/Mail@2x.png)
		&_neil-orange-peel
			background-image url(../img/'Neil Orange Peel@2x'.png)
		&_picasa
			background-image url(../img/Picasa@2x.png)
		&_pinterest
			background-image url(../img/Pinterest@2x.png)
		&_reddit
			background-image url(../img/Reddit@2x.png)
		&_rss
			background-image url(../img/RSS@2x.png)
		&_safari
			background-image url(../img/Safari@2x.png)
		&_skype
			background-image url(../img/Skype@2x.png)
		&_soundcloud
			background-image url(../img/SoundCloud@2x.png)
		&_treehouse
			background-image url(../img/Treehouse@2x.png)
		&_tumblr
			background-image url(../img/Tumblr@2x.png)
		&_vimeo
			background-image url(../img/Vimeo@2x.png)
		&_windows
			background-image url(../img/Windows@2x.png)
		&_wordpress
			background-image url(../img/WordPress@2x.png)
		&_yahoo
			background-image url(../img/Yahoo!@2x.png)
		&_youtube
			background-image url(../img/YouTube@2x.png)
		
	.blue-arrow-icon
		background url(../img/'Blue Arrow@2x.png') no-repeat
		background-size 10px 5px
	.gray-arrow-icon
		background url(../img/'Gray Arrow@2x.png') no-repeat
		background-size 10px 5px
	.list-icon
		background url(../img/List@2x.png) no-repeat
		background-size 21px 17px
	.cross-icon
		background url(../img/Cross@2x.png) no-repeat
		background-size 25px 25px
	.information-icon
		background url(../img/Information@2x.png) no-repeat
		background-size 25px 25px
	.location-icon
		background url(../img/Location@2x.png) no-repeat
		background-size 17px 25px
	.bookmark-icon
		background url(../img/Bookmark@2x.png) no-repeat
		background-size 17px 25px
	.calendar-act-icon
		background url(../img/'Calendar Icon Active@2x.png') no-repeat
		background-size 16px 18px
	.calendar-inact-icon
		background url(../img/'Calendar Icon No Active@2x.png') no-repeat
		background-size 16px 18px
	.error-icon
		background url(../img/'Error Icon@2x.png') no-repeat
		background-size 18px 18px
	.success-icon
		background url(../img/'Success Icon@2x.png') no-repeat
		background-size 18px 18px
	.chevron-left-icon
		background url(../img/'Left Chevron@2x.png') no-repeat
		background-size 12px 21px
	.chevron-right-icon
		background url(../img/'Right Chevron@2x.png') no-repeat
		background-size 12px 21px
	.play-icon
		background url(../img/Play@2x.png) no-repeat
		background-size 16px 20px
	.refresh-icon
		background url(../img/Refresh@2x.png) no-repeat
		background-size 21px 21px
	.search-icon
		background url(../img/'Search Icon@2x.png') no-repeat
		background-size 16px 16px
	.settings-icon
		background url(../img/'Settings Cog@2x.png') no-repeat
		background-size 25px 25px
	.star-icon
		background url(../img/Star@2x.png) no-repeat
		background-size 29px 27px
	.tag-icon
		background url(../img/Tag@2x.png) no-repeat
		background-size 25px 25px
	.tick-icon
		background url(../img/Tick@2x.png) no-repeat
		background-size 23px 25px
	.white-tw-icon
		background url(../img/'White Tw@2x.png') no-repeat
		background-size 26px 21px