/* Small Icons */
.icon
	width 77px
	height 77px
.icon.dribbble-ico
	background url(../img/dribbble.png) no-repeat
	&:hover
		background url(../img/'dribbble _hover.png') no-repeat
.icon.behance-ico
	background url(../img/Behance.png) no-repeat
	&:hover
		background url(../img/'Behance _hover.png') no-repeat
.icon.twitter-ico
	background url(../img/twitter.png) no-repeat
	&:hover
		background url(../img/'twitter _hover.png') no-repeat
.icon.linkedin-ico
	background url(../img/linkedin.png) no-repeat
	&:hover
		background url(../img/'linkedin _hover.png') no-repeat
.icon.instagram-ico
	background url(../img/instagram.png) no-repeat
	&:hover
		background url(../img/'instagram _hover.png') no-repeat
.icon.facebook-ico
	background url(../img/facebook.png) no-repeat
	&:hover
		background url(../img/'facebook _hover.png') no-repeat

/* Small Additional Icons */
.icon-ad
	width 50px
	height 50px
.icon-ad.instagram-ico
	background url(../img/Intsagram.png) no-repeat
.icon-ad.android-ico
	background url(../img/Android.png) no-repeat
.icon-ad.apple-ico
	background url(../img/Apple.png) no-repeat
.icon-ad.blogger-ico
	background url(../img/Blogger.png) no-repeat
.icon-ad.chrome-ico
	background url(../img/Chrome.png) no-repeat
.icon-ad.css3-ico
	background url(../img/CSS3.png) no-repeat
.icon-ad.delicious-ico
	background url(../img/Delicious.png) no-repeat
.icon-ad.dropbox-ico
	background url(../img/Dropbox.png) no-repeat
.icon-ad.flickr-ico
	background url(../img/Flickr.png) no-repeat
.icon-ad.forrst-ico
	background url(../img/Forrst.png) no-repeat
.icon-ad.google-plus-ico
	background url(../img/'Google +.png') no-repeat
.icon-ad.html5-ico
	background url(../img/HTML5.png) no-repeat
.icon-ad.ie-ico
	background url(../img/IE.png) no-repeat
.icon-ad.jquery-ico
	background url(../img/jQuery.png) no-repeat
.icon-ad.lastfm-ico
	background url(../img/LastFM.png) no-repeat
.icon-ad.mail-ico
	background url(../img/Mail.png) no-repeat
.icon-ad.neil-orange-peel-ico
	background url(../img/'Neil Orange Peel'.png) no-repeat
.icon-ad.picasa-ico
	background url(../img/Picasa.png) no-repeat
.icon-ad.pinterest-ico
	background url(../img/Pinterest.png) no-repeat
.icon-ad.reddit-ico
	background url(../img/Reddit.png) no-repeat
.icon-ad.rss-ico
	background url(../img/RSS.png) no-repeat
.icon-ad.safari-ico
	background url(../img/Safari.png) no-repeat
.icon-ad.skype-ico
	background url(../img/Skype.png) no-repeat
.icon-ad.soundcloud-ico
	background url(../img/SoundCloud.png) no-repeat
.icon-ad.treehouse-ico
	background url(../img/Treehouse.png) no-repeat
.icon-ad.tumblr-ico
	background url(../img/Tumblr.png) no-repeat
.icon-ad.vimeo-ico
	background url(../img/Vimeo.png) no-repeat
.icon-ad.windows-ico
	background url(../img/Windows.png) no-repeat
.icon-ad.wordpress-ico
	background url(../img/WordPress.png) no-repeat
.icon-ad.yahoo-ico
	background url(../img/Yahoo!.png) no-repeat
.icon-ad.youtube-ico
	background url(../img/YouTube.png) no-repeat
	
/* Other Icons */
.arrow-down-ico
	width 17px
	height 12px
	background url(../img/'Arrow Down.png') no-repeat
.arrow-down-gray-ico
	width 17px
	height 12px
	background url(../img/'Arrow Down Gray.png') no-repeat
.arrow-down-white-ico
	width 17px
	height 12px
	background url(../img/'Arrow Down White.png') no-repeat
.blue-arrow-ico
	width 10px
	height 5px
	background url(../img/'Blue Arrow.png') no-repeat
.gray-arrow-ico
	width 10px
	height 5px
	background url(../img/'Gray Arrow.png') no-repeat
.list-ico
	width 21px
	height 17px
	background url(../img/List.png) no-repeat
.cross-ico
	width 25px
	height 25px
	background url(../img/Cross.png) no-repeat
.information-ico
	width 25px
	height 25px
	background url(../img/Information.png) no-repeat
.location-ico
	width 17px
	height 25px
	background url(../img/Location.png) no-repeat
.bookmark-ico
	width 17px
	height 25px
	background url(../img/Bookmark.png) no-repeat
.calendar-act-ico
	width 16px
	height 18px
	background url(../img/'Calendar Icon Active.png') no-repeat
.calendar-inact-ico
	width 16px
	height 18px
	background url(../img/'Calendar Icon No Active.png') no-repeat
.error-ico
	width 18px
	height 18px
	background url(../img/'Error Icon.png') no-repeat
.success-ico
	width 18px
	height 18px
	background url(../img/'Success Icon.png') no-repeat
.chevron-left-ico
	width 12px
	height 21px
	background url(../img/'Left Chevron.png') no-repeat
.chevron-right-ico
	width 12px
	height 21px
	background url(../img/'Right Chevron.png') no-repeat
.play-ico
	width 16px
	height 20px
	background url(../img/Play.png) no-repeat
.refresh-ico
	width 21px
	height 21px
	background url(../img/Refresh.png) no-repeat
.search-ico
	width 16px
	height 16px
	background url(../img/'Search Icon.png') no-repeat
.settings-ico
	width 25px
	height 25px
	background url(../img/'Settings Cog.png') no-repeat
.star-ico
	width 29px
	height 27px
	background url(../img/Star.png) no-repeat
.tag-ico
	width 25px
	height 25px
	background url(../img/Tag.png) no-repeat
.tick-ico
	width 23px
	height 25px
	background url(../img/Tick.png) no-repeat
.white-tw-ico
	width 26px
	height 21px
	background url(../img/'White Tw.png') no-repeat

/* Retina Displays Graphics Optimization */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)
	.icon
		background-size 77px 77px
		&:hover
			background-size 77px 77px
	.icon.dribbble-ico
		background url(../img/dribbble@2x.png) no-repeat
		&:hover
			background url(../img/'dribbble _hover@2x.png') no-repeat
	.icon.behance-ico
		background url(../img/Behance@2x.png) no-repeat
		&:hover
			background url(../img/'Behance _hover@2x.png') no-repeat
	.icon.twitter-ico
		background url(../img/twitter@2x.png) no-repeat
		&:hover
			background url(../img/'twitter _hover@2x.png') no-repeat
	.icon.linkedin-ico
		background url(../img/linkedin@2x.png) no-repeat
		&:hover
			background url(../img/'linkedin _hover@2x.png') no-repeat
	.icon.instagram-ico
		background url(../img/instagram@2x.png) no-repeat
		&:hover
			background url(../img/'instagram _hover@2x.png') no-repeat
	.icon.facebook-ico
		background url(../img/facebook@2x.png) no-repeat
		&:hover
			background url(../img/'facebook _hover@2x.png') no-repeat
	
	.icon-ad
		background-size 50px 50px
	.icon-ad.instagram-ico
		background url(../img/Intsagram@2x.png) no-repeat
	.icon-ad.android-ico
		background url(../img/Android@2x.png) no-repeat
	.icon-ad.apple-ico
		background url(../img/Apple@2x.png) no-repeat
	.icon-ad.blogger-ico
		background url(../img/Blogger@2x.png) no-repeat
	.icon-ad.chrome-ico
		background url(../img/Chrome@2x.png) no-repeat
	.icon-ad.css3-ico
		background url(../img/CSS3@2x.png) no-repeat
	.icon-ad.delicious-ico
		background url(../img/Delicious@2x.png) no-repeat
	.icon-ad.dropbox-ico
		background url(../img/Dropbox@2x.png) no-repeat
	.icon-ad.flickr-ico
		background url(../img/Flickr@2x.png) no-repeat
	.icon-ad.forrst-ico
		background url(../img/Forrst@2x.png) no-repeat
	.icon-ad.google-plus-ico
		background url(../img/'Google +@2x.png') no-repeat
	.icon-ad.html5-ico
		background url(../img/HTML5@2x.png) no-repeat
	.icon-ad.ie-ico
		background url(../img/IE@2x.png) no-repeat
	.icon-ad.jquery-ico
		background url(../img/jQuery@2x.png) no-repeat
	.icon-ad.lastfm-ico
		background url(../img/LastFM@2x.png) no-repeat
	.icon-ad.mail-ico
		background url(../img/Mail@2x.png) no-repeat
	.icon-ad.neil-orange-peel-ico
		background url(../img/'Neil Orange Peel@2x'.png) no-repeat
	.icon-ad.picasa-ico
		background url(../img/Picasa@2x.png) no-repeat
	.icon-ad.pinterest-ico
		background url(../img/Pinterest@2x.png) no-repeat
	.icon-ad.reddit-ico
		background url(../img/Reddit@2x.png) no-repeat
	.icon-ad.rss-ico
		background url(../img/RSS@2x.png) no-repeat
	.icon-ad.safari-ico
		background url(../img/Safari@2x.png) no-repeat
	.icon-ad.skype-ico
		background url(../img/Skype@2x.png) no-repeat
	.icon-ad.soundcloud-ico
		background url(../img/SoundCloud@2x.png) no-repeat
	.icon-ad.treehouse-ico
		background url(../img/Treehouse@2x.png) no-repeat
	.icon-ad.tumblr-ico
		background url(../img/Tumblr@2x.png) no-repeat
	.icon-ad.vimeo-ico
		background url(../img/Vimeo@2x.png) no-repeat
	.icon-ad.windows-ico
		background url(../img/Windows@2x.png) no-repeat
	.icon-ad.wordpress-ico
		background url(../img/WordPress@2x.png) no-repeat
	.icon-ad.yahoo-ico
		background url(../img/Yahoo!@2x.png) no-repeat
	.icon-ad.youtube-ico
		background url(../img/YouTube@2x.png) no-repeat
		
	.arrow-down-ico
		background-size 17px 12px
		background url(../img/'Arrow Down@2x.png') no-repeat
	.arrow-down-gray-ico
		background-size 17px 12px
		background url(../img/'Arrow Down Gray@2x.png') no-repeat
	.arrow-down-white-ico
		background-size 17px 12px
		background url(../img/'Arrow Down White@2x.png') no-repeat
	.blue-arrow-ico
		background-size 10px 5px
		background url(../img/'Blue Arrow@2x.png') no-repeat
	.gray-arrow-ico
		background-size 10px 5px
		background url(../img/'Gray Arrow@2x.png') no-repeat
	.list-ico
		background-size 21px 17px
		background url(../img/List@2x.png) no-repeat
	.cross-ico
		background-size 25px 25px
		background url(../img/Cross@2x.png) no-repeat
	.information-ico
		background-size 25px 25px
		background url(../img/Information@2x.png) no-repeat
	.location-ico
		background-size 17px 25px
		background url(../img/Location@2x.png) no-repeat
	.bookmark-ico
		background-size 17px 25px
		background url(../img/Bookmark@2x.png) no-repeat
	.calendar-act-ico
		background-size 16px 18px
		background url(../img/'Calendar Icon Active@2x.png') no-repeat
	.calendar-inact-ico
		background-size 16px 18px
		background url(../img/'Calendar Icon No Active@2x.png') no-repeat
	.error-ico
		background-size 18px 18px
		background url(../img/'Error Icon@2x.png') no-repeat
	.success-ico
		background-size 18px 18px
		background url(../img/'Success Icon@2x.png') no-repeat
	.chevron-left-ico
		background-size 12px 21px
		background url(../img/'Left Chevron@2x.png') no-repeat
	.chevron-right-ico
		background-size 12px 21px
		background url(../img/'Right Chevron@2x.png') no-repeat
	.play-ico
		background-size 16px 20px
		background url(../img/Play@2x.png) no-repeat
	.refresh-ico
		background-size 21px 21px
		background url(../img/Refresh@2x.png) no-repeat
	.search-ico
		background-size 16px 16px
		background url(../img/'Search Icon@2x.png') no-repeat
	.settings-ico
		background-size 25px 25px
		background url(../img/'Settings Cog@2x.png') no-repeat
	.star-ico
		background-size 29px 27px
		background url(../img/Star@2x.png) no-repeat
	.tag-ico
		background-size 25px 25px
		background url(../img/Tag@2x.png) no-repeat
	.tick-ico
		background-size 23px 25px
		background url(../img/Tick@2x.png) no-repeat
	.white-tw-ico
		background-size 26px 21px
		background url(../img/'White Tw@2x.png') no-repeat