.icon-lg
	width 154px
	height 154px	
.dribbble-lg
	background url(../img/dribbble@2x.png) no-repeat
	&:hover
		background url(../img/'dribbble _hover@2x.png') no-repeat
.behance-lg
	background url(../img/Behance@2x.png) no-repeat
	&:hover
		background url(../img/'Behance _hover@2x.png') no-repeat
.twitter-lg
	background url(../img/twitter@2x.png) no-repeat
	&:hover
		background url(../img/'twitter _hover@2x.png') no-repeat
.linkedin-lg
	background url(../img/linkedin@2x.png) no-repeat
	&:hover
		background url(../img/'linkedin _hover@2x.png') no-repeat
.instagram-lg
	background url(../img/instagram@2x.png) no-repeat
	&:hover
		background url(../img/'instagram _hover@2x.png') no-repeat
.facebook-lg
	background url(../img/facebook@2x.png) no-repeat
	&:hover
		background url(../img/'facebook _hover@2x.png') no-repeat