<div class="bfs__wrapper">
	<div class="bfs__title">&lt;EPAM&gt; BASE FRONTEND STYLE GUIDE (BFS)</div>
	<div class="bfs__col bfs__col_1">
		<div class="bfs__color-swatches">
			<h2 class="green">COLOR SWATCHES</h1>
			<h3 class="sky">Main colors</h3>
			<div class="bfs__color-swatches__icon bg-blue"></div>
			<div class="bfs__color-swatches__info">/* .blue: */ color: #12679B;<br/>/* .bg-blue: */ background: #12679B;</div>
			<div class="bfs__color-swatches__icon bg-sky"></div>
			<div class="bfs__color-swatches__info">/* .sky: */ color: #259CD7;<br/>/* .bg-sky: */ background: #259CD7;</div>
			<div class="bfs__color-swatches__icon bg-red"></div>
			<div class="bfs__color-swatches__info">/* .red: */ color: #F1665D;<br/>/* .bg-red: */ background: #F1665D;</div>
			<div class="bfs__color-swatches__icon bg-yellow"></div>
			<div class="bfs__color-swatches__info">/* .yellow: */ color: #FC9C1C;<br/>/* .bg-yellow: */ background: #FC9C1C;</div>
			<div class="bfs__color-swatches__icon bg-green"></div>
			<div class="bfs__color-swatches__info">/* .green: */ color: #25B344;<br/>/* .bg-green: */ background: #25B344;</div>
			<div class="bfs__color-swatches__icon bg-dark"></div>
			<div class="bfs__color-swatches__info">/* .dark: */ color: #3E3E3E;<br/>/* .bg-dark: */ background: #3E3E3E;</div>
			<div class="bfs__color-swatches__icon bg-gray"></div>
			<div class="bfs__color-swatches__info">/* .gray: */ color: #D4D4D4;<br/>/* .bg-gray: */ background: #D4D4D4;</div>
		</div>
		<div class="bfs__buttons">
			<div class="bfs__buttons__options">
				<h1 class="green">BUTTONS</h1>
				<h3 class="sky">Buttons Options</h3>
				
				{{> buttons buttons.new }}


				<button type="button" class="btn btn_regular">
					<span class="btn_icon"></span>
					<span class="btn_text">Default Button</span>
				</button>
				<button type="button" class="btn btn_regular" disabled="disabled">
					<span class="btn_icon"></span>
					<span class="btn_text">Disable Button</span>
				</button>
				<button type="button" class="btn btn_regular btn_primary">
					<span class="btn_icon"></span>
					<span class="btn_text">Primary Button</span>
				</button>
				<button type="button" class="btn btn_regular btn_info">
					<span class="btn_icon"></span>
					<span class="btn_text">Info Button</span>
				</button>
				<button type="button" class="btn btn_regular btn_inverse">
					<span class="btn_icon"></span>
					<span class="btn_text">Inverse Button</span>
				</button>
				<button type="button" class="btn btn_regular btn_success">
					<span class="btn_icon"></span>
					<span class="btn_text">Success Button</span>
				</button>
				<button type="button" class="btn btn_regular btn_warning">
					<span class="btn_icon"></span>
					<span class="btn_text">Warning Button</span>
				</button>
				<button type="button" class="btn btn_regular btn_dange">
					<span class="btn_icon"></span>
					<span class="btn_text">Dange Button</span>
				</button>
			</div>
			<div class="bfs__buttons__sizes">
				<h3 class="sky">Buttons Sizes</h3>
				<button type="button" class="btn btn_huge btn_info">
					<span class="btn_icon"></span>
					<span class="btn_text">Huge Button</span>
				</button>
				<button type="button" class="btn btn_large btn_info">
					<span class="btn_icon"></span>
					<span class="btn_text">Large Button</span>
				</button>
				<button type="button" class="btn btn_regular btn_info">
					<span class="btn_icon"></span>
					<span class="btn_text">Regular Button</span>
				</button>
				<button type="button" class="btn btn_small btn_info">
					<span class="btn_icon"></span>
					<span class="btn_text">Small Button</span>
				</button>
				<button type="button" class="btn btn_xsmall btn_info">
					<span class="btn_icon"></span>
					<span class="btn_text">Very Small Button</span>
				</button>
			</div>
			<div class="bfs__buttons__variants">
				<h3 class="sky">Buttons Variants</h3>
				<button type="button" class="btn btn_regular btn_warning">
					<span class="btn_icon"></span>
					<span class="btn_text">Drop Button</span>
				</button>
				<button type="button" class="btn btn_regular btn_success btn_imgleft">
					<span class="btn_icon white-tw-icon"></span>
					<span class="btn_text">Drop Button</span>
				</button>
				<button type="button" class="btn btn_regular btn_primary btn_imgright">
					<span class="btn_icon select-icon-right-white"></span>
					<span class="btn_text">Select Button</span>
				</button>
				<button type="button" class="btn btn_regular btn_info btn_imgright">
					<span class="btn_icon white-tw-icon"></span>
					<span class="btn_text">Drop Button</span>	
				</button>
			</div>
		</div>
		<div class="bfs__check-radio-btns">
			<h3 class="sky">Checkboxes and Radio-Buttons</h3>
			<label class="radio"><input type="radio" name="options_radio" value="option1" checked><span></span>Radio is on</label>
			<label class="radio"><input type="radio" name="options_radio" value="option2"><span></span>Radio is off</label>
			<label class="radio"><input type="radio" name="options_radio" value="option3" disabled="disabled"><span></span>Radio is disabled</label>

			<label class="checkbox"><input type="checkbox" name="check" value="value1" checked><span></span>Checkbox is on</label>
			<label class="checkbox"><input type="checkbox" name="check" value="value2"><span></span>Checkbox is off</label>
			<label class="checkbox"><input type="checkbox" name="check" value="value3" disabled="disabled"><span></span>Checkbox is disabled</label>
		</div>
	</div>
	<div class="bfs__col bfs__col_2">
		<div class="bfs__typography">
			<h2 class="green">TYPOGRAPHY (Helvetica Neue)</h1>
			<h3 class="sky">Headings</h3>
			<div class="big-head">Big Head - Text 50 line-height 60</div>
			<h1>H1 - Text 40 line-height 44</h1>
			<h2>H2 - Text 32 line-height 36</h2>
			<h3>H3 - Text 24 line-height 28</h3>
			<h4>H4 - Text 18 line-height 18</h4>
			<h5>H5 - Text 16 line-height 20</h5>
			<h6>H6 - Text 12 line-height 14</h6>
			<p>Paragraph - Text 16 line-height 24</p>
			<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla nonmetus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
		</div>
		<div class="bfs__inputs">
			<h2 class="green">Inputs</h1>
			<h3 class="sky">Inputs Variants</h3>
			<div class="input-group">
				<input type="text" placeholder="Enable Input" class="input">
			</div>
			<div class="input-group input_success">
				<input type="text" placeholder="Success Input" class="input">
				<span class="success-icon"></span>
			</div>
			<div class="input-group input_error">
				<input type="text" placeholder="Error Input" class="input">
				<span class="error-icon"></span>
			</div>
			<div class="input-group input_disabled">
				<input type="text" value="Disabled Input" class="input" disabled>
			</div>
		</div>
	</div>
	<div class="bfs__col bfs__col_3">
		<div class="bfs__icons">
			<h2 class="green">ICONS</h1>
			<h3 class="sky">Social Buttons</h3>
			{{> soc-icons icons.soc-icon.dribble }}
			{{> soc-icons icons.soc-icon.behance }}
			{{> soc-icons icons.soc-icon.twitter }}
			{{> soc-icons icons.soc-icon.linkedin }}
			{{> soc-icons icons.soc-icon.instagram }}
			{{> soc-icons icons.soc-icon.facebook }}

			<h3 class="sky">Additional Icons</h3>
			{{> icons icons.icon.android }}
			{{> icons icons.icon.apple }}
			{{> icons icons.icon.blogger }}
			{{> icons icons.icon.chrome }}
			{{> icons icons.icon.css3 }}
			{{> icons icons.icon.delicious }}
			<br/>
			<div class="icon icon_android"></div>
			<div class="icon icon_apple"></div>
			<div class="icon icon_blogger"></div>
			<div class="icon icon_chrome"></div>
			<div class="icon icon_css3"></div>
			<div class="icon icon_delicious"></div>
			<div class="icon icon_dropbox"></div>
			<div class="icon icon_flickr"></div>
			<div class="icon icon_forrst"></div>
			<div class="icon icon_google-plus"></div>
			<div class="icon icon_html5"></div>
			<div class="icon icon_ie"></div>
			<div class="icon icon_instagram"></div>
			<div class="icon icon_jquery"></div>
			<div class="icon icon_lastfm"></div>
			<div class="icon icon_mail"></div>
			<div class="icon icon_neil-orange-peel"></div>
			<div class="icon icon_picasa"></div>
			<div class="icon icon_pinterest"></div>
			<div class="icon icon_reddit"></div>
			<div class="icon icon_rss"></div>
			<div class="icon icon_safari"></div>
			<div class="icon icon_skype"></div>
			<div class="icon icon_soundcloud"></div>
			<div class="icon icon_treehouse"></div>
			<div class="icon icon_tumblr"></div>
			<div class="icon icon_vimeo"></div>
			<div class="icon icon_windows"></div>
			<div class="icon icon_wordpress"></div>
			<div class="icon icon_yahoo"></div>
			<div class="icon icon_youtube"></div>

			<h3 class="sky other-icons">Other Icons</h3>
			<div class="select-icon-down"></div>
			<div class="select-icon-down-gray"></div>
			<div class="select-icon-down-white"></div>
			<div class="select-icon-up"></div>
			<div class="select-icon-up-gray"></div>
			<div class="select-icon-up-white"></div>
			<div class="select-icon-right"></div>
			<div class="select-icon-right-gray"></div>
			<div class="select-icon-right-white"></div>
			<div class="blue-arrow-icon"></div>
			<div class="gray-arrow-icon"></div>
			<br/>
			<div class="list-icon"></div>
			<div class="cross-icon"></div>
			<div class="information-icon"></div>
			<div class="location-icon"></div>
			<div class="bookmark-icon"></div>
			<div class="calendar-act-icon"></div>
			<div class="calendar-inact-icon"></div>
			<div class="error-icon"></div>
			<div class="success-icon"></div>
			<div class="chevron-left-icon"></div>
			<div class="chevron-right-icon"></div>
			<div class="play-icon"></div>
			<div class="refresh-icon"></div>
			<div class="search-icon"></div>
			<div class="settings-icon"></div>
			<div class="star-icon"></div>
			<div class="tag-icon"></div>
			<div class="tick-icon"></div>
			<div class="white-tw-icon"></div>
		</div>
	</div>
</div>