<div class="bfs__wrapper">
	<div class="bfs__title">&lt;EPAM&gt; BASE FRONTEND STYLE GUIDE (BFS)</div>
	<div class="bfs__col bfs__col_1">
		<div class="bfs__color-swatches">
			<h2 class="green">COLOR SWATCHES</h1>
			<h3 class="sky">Main colors</h3>
			<div class="bfs__color-swatches__icon bg-blue"></div>
			<div class="bfs__color-swatches__info">/* .blue: */ color: #12679B;<br/>/* .bg-blue: */ background: #12679B;</div>
			<div class="bfs__color-swatches__icon bg-sky"></div>
			<div class="bfs__color-swatches__info">/* .sky: */ color: #259CD7;<br/>/* .bg-sky: */ background: #259CD7;</div>
			<div class="bfs__color-swatches__icon bg-red"></div>
			<div class="bfs__color-swatches__info">/* .red: */ color: #F1665D;<br/>/* .bg-red: */ background: #F1665D;</div>
			<div class="bfs__color-swatches__icon bg-yellow"></div>
			<div class="bfs__color-swatches__info">/* .yellow: */ color: #FC9C1C;<br/>/* .bg-yellow: */ background: #FC9C1C;</div>
			<div class="bfs__color-swatches__icon bg-green"></div>
			<div class="bfs__color-swatches__info">/* .green: */ color: #25B344;<br/>/* .bg-green: */ background: #25B344;</div>
			<div class="bfs__color-swatches__icon bg-dark"></div>
			<div class="bfs__color-swatches__info">/* .dark: */ color: #3E3E3E;<br/>/* .bg-dark: */ background: #3E3E3E;</div>
			<div class="bfs__color-swatches__icon bg-grey"></div>
			<div class="bfs__color-swatches__info">/* .gray: */ color: #D4D4D4;<br/>/* .bg-gray: */ background: #D4D4D4;</div>
		</div>
		<div class="bfs__buttons">
			<div class="bfs__buttons__options">
				<h1 class="green">BUTTONS</h1>
				<h3 class="sky">Buttons Options</h3>
				<button class="btn btn-regular btn-default">Default Button</button>
				<button class="btn btn-regular btn-disable">Disable Button</button>
				<button class="btn btn-regular btn-primary">Primary Button</button>
				<button class="btn btn-regular btn-info">Info Button</button>
				<button class="btn btn-regular btn-inverse">Inverse Button</button>
				<button class="btn btn-regular btn-success">Success Button</button>
				<button class="btn btn-regular btn-warning">Warning Button</button>
				<button class="btn btn-regular btn-dange">Dange Button</button>
			</div>
			<div class="bfs__buttons__sizes">
				<h3 class="sky">Buttons Sizes</h3>
				<button class="btn btn-huge btn-info">Huge Button</button>
				<button class="btn btn-large btn-info">Large Button</button>
				<button class="btn btn-regular btn-info">Regular Button</button>
				<button class="btn btn-small btn-info">Small Button</button>
				<button class="btn btn-xsmall btn-info">Very Small Button</button>
			</div>
		</div>
	</div>
	<div class="bfs__col bfs__col_2">
		<div class="bfs__typography">
			<h2 class="green">TYPOGRAPHY (Helvetica Neue)</h1>
			<h3 class="sky">Headings</h3>
			<div class="big-head">Big Head – Text 50 line-height 60</div>
			<h1>H1 – Text 40 line-height 44</h1>
			<h2>H2 – Text 32 line-height 36</h2>
			<h3>H3 – Text 24 line-height 28</h3>
			<h4>H4 – Text 18 line-height 18</h4>
			<h5>H5 – Text 16 line-height 20</h5>
			<h6>H6 – Text 12 line-height 14</h6>
			<p>Paragraph – Text 16 line-height 24</p>
			<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla nonmetus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
		</div>
	</div>
	<div class="bfs__col bfs__col_3">
		<div class="bfs__icons">
			<h2 class="green">ICONS</h1>
			<h3 class="sky">Social Buttons</h3>
			<div class="icon-lg dribbble-lg"></div>
			<div class="icon-lg behance-lg"></div>
			<div class="icon-lg twitter-lg"></div>
			<div class="icon-lg linkedin-lg"></div>
			<div class="icon-lg instagram-lg"></div>
			<div class="icon-lg facebook-lg"></div>
		</div>
	</div>
</div>